---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjFjOTczMzg3YTYxMjE5MDZkOGVkMzA1ODRhNzc2YjU0ODgyMTkyMjY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1562627613'
      Etag:
      - W/"0a4a6517aa0505e13618c05d5a415304"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":187718827,"node_id":"MDEwOlJlcG9zaXRvcnkxODc3MTg4Mjc=","name":"little_shop_v2","full_name":"alexander-mathieu/little_shop_v2","private":false,"owner":{"login":"alexander-mathieu","id":47018937,"node_id":"MDQ6VXNlcjQ3MDE4OTM3","avatar_url":"https://avatars3.githubusercontent.com/u/47018937?v=4","gravatar_id":"","url":"https://api.github.com/users/alexander-mathieu","html_url":"https://github.com/alexander-mathieu","followers_url":"https://api.github.com/users/alexander-mathieu/followers","following_url":"https://api.github.com/users/alexander-mathieu/following{/other_user}","gists_url":"https://api.github.com/users/alexander-mathieu/gists{/gist_id}","starred_url":"https://api.github.com/users/alexander-mathieu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alexander-mathieu/subscriptions","organizations_url":"https://api.github.com/users/alexander-mathieu/orgs","repos_url":"https://api.github.com/users/alexander-mathieu/repos","events_url":"https://api.github.com/users/alexander-mathieu/events{/privacy}","received_events_url":"https://api.github.com/users/alexander-mathieu/received_events","type":"User","site_admin":false},"html_url":"https://github.com/alexander-mathieu/little_shop_v2","description":"BE
        Mod 2 Week 4/5 Group Project, an e-commerce platform","fork":true,"url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2","forks_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/forks","keys_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/teams","hooks_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/hooks","issue_events_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/issues/events{/number}","events_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/events","assignees_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/assignees{/user}","branches_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/branches{/branch}","tags_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/tags","blobs_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/git/refs{/sha}","trees_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/statuses/{sha}","languages_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/languages","stargazers_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/stargazers","contributors_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/contributors","subscribers_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/subscribers","subscription_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/subscription","commits_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/commits{/sha}","git_commits_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/git/commits{/sha}","comments_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/comments{/number}","issue_comment_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/issues/comments{/number}","contents_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/contents/{+path}","compare_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/merges","archive_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/downloads","issues_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/issues{/number}","pulls_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/pulls{/number}","milestones_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/milestones{/number}","notifications_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/labels{/name}","releases_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/releases{/id}","deployments_url":"https://api.github.com/repos/alexander-mathieu/little_shop_v2/deployments","created_at":"2019-05-20T21:56:43Z","updated_at":"2019-07-02T19:11:22Z","pushed_at":"2019-07-02T19:11:19Z","git_url":"git://github.com/alexander-mathieu/little_shop_v2.git","ssh_url":"git@github.com:alexander-mathieu/little_shop_v2.git","clone_url":"https://github.com/alexander-mathieu/little_shop_v2.git","svn_url":"https://github.com/alexander-mathieu/little_shop_v2","homepage":null,"size":742,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":3,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":97,"license":null,"forks":3,"open_issues":97,"watchers":3,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":178916277,"node_id":"MDEwOlJlcG9zaXRvcnkxNzg5MTYyNzc=","name":"cross_check","full_name":"chakeresa/cross_check","private":false,"owner":{"login":"chakeresa","id":47309861,"node_id":"MDQ6VXNlcjQ3MzA5ODYx","avatar_url":"https://avatars2.githubusercontent.com/u/47309861?v=4","gravatar_id":"","url":"https://api.github.com/users/chakeresa","html_url":"https://github.com/chakeresa","followers_url":"https://api.github.com/users/chakeresa/followers","following_url":"https://api.github.com/u[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjFjOTczMzg3YTYxMjE5MDZkOGVkMzA1ODRhNzc2YjU0ODgyMTkyMjY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjFjOTczMzg3YTYxMjE5MDZkOGVkMzA1ODRhNzc2YjU0ODgyMTkyMjY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
[...]
